{
    "target_instance": "549662860827",
    "target_ecr": "549662860827.dkr.ecr.eu-central-1.amazonaws.com/thor",
    "language": "java",
    "language_version": "11",
    "libraries": [],
    "kubernetesSecret": [
      {
        "secretName": "thr-qa-secret-password",
        "data": [
          {
            "key": "secret-password-qa",
            "secretId": "241"
          }
        ]
      }
    ]
}
